<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yantu.sbmm.dao.UserDAO">
  <resultMap id="BaseResultMap" type="com.yantu.sbmm.pojo.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  
  <select id="findById" parameterType="com.yantu.sbmm.pojo.User" resultMap="BaseResultMap">
  	select * from sys_user where id = #{id}
  </select>
  
</mapper>